/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.full-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.full-height {
  min-height: 100vh;
}

.qWrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;  
  padding: 2rem;
  box-sizing: border-box;
}
.qContainer {
  flex: 1;
  max-width: 450px;
  margin-right: 3rem;
}

.qContainer h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}


.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.date-container {
  display: flex;
  gap: 1rem;      
        
}

.date-container .form-group {
  flex: 1;
}

.notesBox {
  height: 125px;
}

.previewContainer {
  flex: 1;
  background-color: #f5f6fa;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;
}

.preview-placeholder {
  margin-top: 2rem;
  height: 600px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #bbb;
}

.qHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.exit-button {
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
}

.exit-button:hover {
  color: red;
}
